.margin-none {
  margin: 0 !important;
}

.padding-bottom {
  padding-bottom: 40px;
}

.padding-top {
  padding-top: 40px;
}

.padding__top-bottom-80 {
  padding: 80px 0;
}

.width-full {
  width: 100% !important;
}

.background-grey {
  background-color: #EEE;
}

.background-grey-main {
  background-color: #f6f6f6;
}